on:
  workflow_call:
    inputs:
      e2e-labels:
        description: Labels to filter e2e tests
        type: string
        required: true

jobs:
  e2e-test:
    runs-on:
      - self-hosted-ncn-dind
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.head.sha }}"

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "false"

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/golangci-lint
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get Control Plane endpoint IP
        id: get-control-plane-endpoint-ip
        run: |
          export CONTROL_PLANE_ENDPOINT_RANGE_START="${{ vars.CONTROL_PLANE_ENDPOINT_RANGE_START }}"
          export CONTROL_PLANE_ENDPOINT_RANGE_END="${{ vars.CONTROL_PLANE_ENDPOINT_RANGE_END }}"
          control_plane_endpoint_ip="$(devbox run -- make nutanix-cp-endpoint-ip)"
          echo "control_plane_endpoint_ip=${control_plane_endpoint_ip}" >> "${GITHUB_OUTPUT}"

      - name: Check Control Plane endpoint IP
        run: |
          if [[ -z "${{ steps.get-control-plane-endpoint-ip.outputs.control_plane_endpoint_ip }}" ]]; then
            echo "control_plane_endpoint_ip is empty; cannot proceed with e2e tests"
            exit 1
          fi

      - name: Login to Internal Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.LOCAL_IMAGE_REGISTRY }}
          username: ${{ secrets.LOCAL_IMAGE_REGISTRY_USERNAME }}
          password: ${{ secrets.LOCAL_IMAGE_REGISTRY_TOKEN }}

      - name: Test build
        run: devbox run -- make test-e2e LABEL_FILTERS='${{ inputs.e2e-labels }}'
        env:
          NUTANIX_USER: ${{ secrets.NUTANIX_USER }}
          NUTANIX_PASSWORD: ${{ secrets.NUTANIX_PASSWORD }}
          NUTANIX_ENDPOINT: ${{ secrets.NUTANIX_ENDPOINT }}
          NUTANIX_PRISM_ELEMENT_CLUSTER_NAME: ${{ vars.NUTANIX_PRISM_ELEMENT_CLUSTER_NAME }}
          NUTANIX_SUBNET_NAME: ${{ vars.NUTANIX_SUBNET_NAME }}
          LOCAL_IMAGE_REGISTRY: ${{ secrets.LOCAL_IMAGE_REGISTRY }}
          CONTROL_PLANE_ENDPOINT_IP: ${{ steps.get-control-plane-endpoint-ip.outputs.control_plane_endpoint_ip }}
          NUTANIX_SSH_AUTHORIZED_KEY: fake-key
